page-register {

    #nameErr{
        float: right;
    }
    #psw1Err{
        float: right;
    }
    #psw2Err{
        float: right;
    }
    #yearErr{
        float: right;
    }
    #sexErr{
        float: right;
    }
    #phoneErr{
        float: right;
    }
    #kemuErr{
        float: right;
    }
     
}
