page-yanxun-news {

}
.yanxun-card{
  width:auto;
  margin:12px 0;
}
.yanxin-card-img{
  padding:0 16px;
}
.yanxun-news-line{
  text-align: center;
}
.yanxun-news-comment{
  margin:10px 0;
  overflow: hidden;
}
.yanxun-news-comment-img{
  width:40px;
  height:40px;
  border-radius: 50%;
  float: left;
  margin:0 10px;
}
.yanxun-news-comment-detail{
  overflow: hidden;
}
.yanxun-news-comment-detail-name{
  font-weight: bold;
}
.yanxun-card-title{
  white-space:normal;
  word-wrap: break-word !important;
  font-size: 2rem !important;
}
.yanxun-card-span{
  font-size: 1.5rem;
}
.yanxun-card-p{
  margin-bottom:1em !important;
  color:black !important;
  font-size: 16px !important;
}
.sb{
  float: right;
}
