page-list {
    .segment-ios .segment-button.segment-activated{
        background: rgb(55, 206, 193);

    }
    .segment-ios .segment-button{
        color: rgb(55, 206, 193);
        border-color: rgb(55, 206, 193);
    }
    .yuan{
        border-radius:50px;
        width:56px;
        height: 56px;;
    }
    .label-ios h2{
      font-size:16px;
    }
}
