page-check { 
    #code{  
        display: block;
        color:#ffffff;/*字体颜色白色*/  
        background-color:#009966;     
        font-size:20px;  
        font-family:"华康娃娃体W5";  
        padding:5px 0px 15px 25px;  
        width: 90px;
        height: 35px;
        float: right;
        margin-top:-40px;  
        cursor:pointer;  
        
    }  
}
